{% extends "base.html" %}
{% block title %}Projects dashboard | VoluntHere{% endblock %}
{% block script %} <script src='{{ url_for("static", filename="js/edit-project.js") }}'></script> {% endblock %}
{% block content %}
<h1 class="page-title">My active projects</h1>

<div class="project-grid">
    {% for project in projects %}
    <div class="project-card">
        <h2>{{ project.title }}</h2>
        <p>{{ project.short_description }}</p>
        <a href="/projects/{{ project.id }}" class="btn-secondary">View Details</a>
        {% if project.owner_id == current_user.id%}
            <a href='/projects/edit/{{ project.id }}' class="btn-primary">Edit Project</a>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% if not projects %}
<p class="empty-text">You are not leading any projects yet - time to take action!</p>
{% endif %}
{% endblock %}