.participants-title {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 600;
}

.participants-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.participant-card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    background: #f7f7f7;
    text-decoration: none;
    color: inherit;
    border: 1px solid #e2e2e2;
    transition: 0.2s ease;
}

.participant-card:hover {
    background: #e9eefc;
    border-color: #7ea1ff;
}

.participant-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.participant-info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.participant-info p {
    margin: 2px 0 0 0;
    font-size: 14px;
    color: #555;
}

.project-details-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.32);
    /* svetla pastelna plava */
    padding: 30px;
    border-radius: 15px;

    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
    margin-bottom: 40px;
    min-height: 250px;
}

.btn-glow{
    border-radius: 5px;
    padding: 5px;
    background-color: ghostwhite;
    border: solid #1a57d6;
    color: #1a57d6;
}

.btn-glow:hover{
    -webkit-box-shadow:0px 0px 30px 10px rgba(46,109,255,0.3);
    -moz-box-shadow: 0px 0px 30px 10px rgba(46,109,255,0.3);
    box-shadow: 0px 0px 30px 10px rgba(46,109,255,0.3);
    transition: 1s ease;
    cursor: grab;
}

.btn-glow:active{
    cursor:grabbing;
}
/* Leva strana teksta */
.details-content {
    flex: 1;
    padding-right: 25px;
}

.details-content h1 {
    margin-top: 0;
}

.details-location {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Desna strana ilustracije */
.details-illustration {
    width: 220px;
    height: 220px;

    background-size: cover;
    background-position: center;
    border-radius: 12px;

    flex-shrink: 0;
}

/* Responsiveness */
@media (max-width: 768px) {
    .project-details-card {
        flex-direction: column;
        text-align: center;
    }

    .details-illustration {
        margin-top: 20px;
        width: 180px;
        height: 180px;
    }
}
