
/* -------------------------------------------------
   RECENT PROJECTS SECTION
---------------------------------------------------*/

.recent-projects {
    display: grid;
    grid-template-columns: 0.1fr 0.75fr 0.15fr; /* 10% | 75% | 15% (map image may need more space) */
    gap: 4rem;
    margin-top: 0.3rem;
    padding: 0 4rem;
    align-items: start;
    justify-content: space-around;
}

.section-title {
    grid-column: 1 / 4;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}



/* ---------- FILTER BAR (10%) ---------- */
.filter-bar {
    position: relative;
    overflow: visible;
    background: linear-gradient(
      rgba(250,165,26, 1) 35%,
      rgb(247,200,73) 150%);
    border-radius: 1rem;
    gap: 60rem;
    /*border-radius: 3rem;*/
    min-height: 15rem;
    padding: 2rem;
    width: 100%;

    .filter-list{
        list-style-type: none;
    }
}

.filter-bar::before{
    content: "";
    position: absolute;
    border-radius: 2em;
    top: -3%;
    left: -3%;
    width: 105%;
    height: 105%;
    pointer-events: none;

    filter: blur(5px);
    z-index: -1;
}



/* ---------- PROJECTS (75%) ---------- */
.projects {
    background: linear-gradient(rgba(241, 187, 41, 0.9), rgb(244, 143, 60));
    border-radius: 10px;
    min-height: 400px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
    width: 100%;
    border-style: solid;
}

.project-card{
    margin-bottom: 1.5em;
}


/* ---------- MAP (10%) ---------- */
.map {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

.map img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}



/* -------------------------------------------------
   RESPONSIVE FIXES (tablet + mobile)
---------------------------------------------------*/

@media (max-width: 1100px) {
    .recent-projects {
        grid-template-columns: 0.15fr 1fr; /* filter shrinks, map disappears */
    }

    .map {
        display: none;
    }
}

@media (max-width: 768px) {

    .recent-projects {
        grid-template-columns: 1fr; /* single column layout */
    }

    .filter-bar {
        display: none;
    }
}

