
/* -------------------------------------------------
   RECENT PROJECTS SECTION
---------------------------------------------------*/

.recent-projects {
    display: grid;
    grid-template-columns: 0.1fr 0.75fr 0.15fr; /* 10% | 75% | 15% (map image may need more space) */
    gap: 4rem;
    margin-top: 0.3rem;
    padding: 0 4rem;
    align-items: start;
    justify-content: space-around;
}

.section-title {
    grid-column: 1 / 4;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}



/* ---------- FILTER BAR (10%) ---------- */
.filter-bar {
    position: relative;
    overflow: visible;
    background: linear-gradient(135deg, rgba(105, 224, 236, 0.2) 0%, rgba(175, 234, 230, 0.14) 130%);
    border-radius: 1rem;
    /*border-radius: 3rem;*/
    min-height: 15rem;
    padding: 1.7rem;
    width: 100%;
    border: solid 0.2rem rgba(134, 186, 202, 0.44);
    box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.25);

    .filter-list{
        list-style-type: none;
    }
}




/* ---------- PROJECTS (75%) ---------- */
.projects {
    linear-gradient(101deg, rgb(255, 255, 255), rgb(194 137 239 / 27%) 36%, rgb(247 93 228 / 59%) 130%)
    min-height: 400px;
    padding: 20px;
    width: 100%;
    margin-top: -1.27rem;
}

.project-card{
    margin-bottom: 1.2em;
    background: rgba(195, 156, 156, 0.23);
}


/* ---------- MAP (10%) ---------- */
.map {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

.map img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}



/* -------------------------------------------------
   RESPONSIVE FIXES (tablet + mobile)
---------------------------------------------------*/

@media (max-width: 1100px) {
    .recent-projects {
        grid-template-columns: 0.15fr 1fr; /* filter shrinks, map disappears */
    }

    .map {
        display: none;
    }
}

@media (max-width: 768px) {

    .recent-projects {
        grid-template-columns: 1fr; /* single column layout */
    }

    .filter-bar {
        display: none;
    }
}

