/* ================================
   PROFILE HEAD
================================ */

.profile-head {
    display: grid;
    grid-template-columns: 0.4fr 0.2fr 0.4fr;
    align-items: center;       /* centriranje */
    text-align: center;
    margin: 1rem 4rem;
    gap: 6rem;
}

.profile-head .profile-image {
    width: 8.75rem;
    height: 8.75rem;
    margin-top: 0.813rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.938rem;
}

/* profilna slika */
.profile-head .profile-image .profile-pic {
    width: 8rem;
    height: 8rem;
    margin-top: -1rem;
    margin-left: 1.5rem;

    border-radius: 10rem;
    border-style: double;
    border-color: rgba(227, 213, 16, 1);
    border-width: 0.5rem;
    filter: drop-shadow(0 0 1rem rgba(227, 213, 16, 1));
}

/* username stil */
.profile-head .profile-image h1 {
    display: block;
    width: fit-content;
    margin: 0.5rem auto 0 auto;
    margin-left: 0.5rem;
    font-size: 16pt;
    border-style: solid;
    border-width: 0.25rem;
    border-color: rgba(227, 213, 16, 1);
    padding: 0.3rem;
    margin-top: 0.5rem;
    text-shadow: 0 0 0.1rem rgba(255, 254, 254, 1);
}

.profile-head .social{
    margin-left: -1rem;
}


/* ================================
   PROFILE INFO SECTION
================================ */

.profile-info {
    width: 80%;
    margin: 2rem auto;
    margin-top: 5rem;
    border: 1rem groove rgba(227, 213, 16);
    padding: 2rem;
    box-sizing: border-box;
}

.projects-title h1 {
    text-align: center;
    font-size: 32pt;
    margin: 0 0 2rem 0;
}

/* DOLE STRANA */
.profile-info-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/* KARTICE */
.card {
    background: rgba(212, 141, 242, 0.3);
    padding: 2rem 4rem;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
    width: 100%;
    max-width: none;                 /* da se ne širi beskonačno */
    height: 150px;
    overflow-y: auto;
    box-sizing: border-box;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(171, 36, 227, 0.5);
}

.card h3 {
    margin-top: 0;
}


/* ================================
   RESPONSIVE
================================ */

@media (max-width: 900px) {
    .profile-info {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .profile-info-left,
    .profile-info-right {
        align-items: center;     /* na mobilnom centrirano */
    }
}
