{% extends "base.html" %}
{% block title %}VoluntHere | Home{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
{% endblock %}
{% block script %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/tag-filtration.js') }}"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}

{% block content %}

<!-- ===================================
     RECENT PROJECTS SECTION
======================================= -->
<section class="recent-projects">

    <!-- Section Title -->
    <div class="section-title">Recent Projects</div>
    <!-- Filter Bar -->
    <aside class="filter-bar">
        <h3>Tags</h3>
        <ul class="filter-list">
            {% for tag in tags %}
            <li>
                <button class="tag-filter-btn" data-tag="{{ tag.name }}">
                    #{{ tag.name }}
                </button>
            </li>
            {% endfor %}
        </ul>
    </aside>


    <!-- Project Cards -->
    <div class="projects">
        {% for project in projects %}
        <a href="/projects/{{ project.id }}">
        <div class="project-card"
             data-id="{{ project.id }}"
             data-tags="{{ project.tags | map(attribute='name') | join(',') }}"
             data-owner-username="{{ project.owner.username }}"
             data-owner-name="{{ project.owner.name }}">
                <h2>{{ project.title }}</h2>
                <h4>Organized by: <a href="/auth/profile/{{project.owner.username}}">{{project.owner.name}}</a></h4>
                <p>{{ project.short_description }}</p>
            </div>
        </a>
        {% endfor %}

    </div>

    <!-- Map Image -->
    <div id="map" class="map"></div>


</section>



{% endblock %}
