{% extends "base.html" %}
{% block title %}VoluntHere | Home{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
{% endblock %}
{% block content %}

<!-- ===================================
     RECENT PROJECTS SECTION
======================================= -->
<section class="recent-projects">

    <!-- Section Title -->
    <div class="section-title">Recent Projects</div>
    <!-- Filter Bar -->
    <aside class="filter-bar">
        <h3>Filters</h3>
        <ul class="filter-list">
            <li><input type="checkbox"> Environment</li>
            <li><input type="checkbox"> Education</li>
            <li><input type="checkbox"> Community Events</li>
            <li><input type="checkbox"> Volunteering</li>
        </ul>
    </aside>

    <!-- Project Cards -->
    <div class="projects">
        {% for project in projects %}
        <div class="project-card">
            <h2>{{ project.title }}</h2>
            <p>{{ project.short_description }}</p>
            <a href="/projects/{{ project.id }}" class="btn-secondary">View Details</a>
        </div>
        {% endfor %}

    </div>

    <!-- Map Image -->
    <div id="map" class="map"></div>


</section>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}
